<h2>Редактировать <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Пароль" %> <i>(Оставьте нетронутым, если не хотите обновлять)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>минимум <%= @minimum_password_length %> значений</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Текущий пароль"%> <i>(Чтобы изменения вступили в силу, введите текущий пароль)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить" %>
  </div>
<% end %>

<h3>Удалить аккаунт</h3>

<p>Не удолетворены чем-то? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>

<%= link_to "Назад", :back %>
