
<script src="//maps.google.com/maps/api/js?key=AIzaSyBj_0GBAd1mmKjDg9M2wHE4YoFF9J2-1hA"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<h1>Предметы</h1>

<!-- <%= month_calendar subjects: @calendar_subjects do |day, subjects| %>
  <div><strong><%= day.to_s(:long) %></strong></div>
  <% subjects.each do |subject| %>
    <div>
      <%= link_to subject.name, subject_path(subject.id) %>
    </div>
  <% end %>
<% end %> -->

<table style="width: auto;" class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= link_to 'Показать', subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый предмет', new_subject_path %>
