<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBj_0GBAd1mmKjDg9M2wHE4YoFF9J2-1hA">

</script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<h1>
    <%= @subject.name %>
</h1>
<p>
  <strong>Широта:</strong>
  <%= @subject.latitude %>
</p>

<p>
  <strong>Долгота:</strong>
  <%= @subject.longitude %>
</p>

<p>
  <strong>Радиус:</strong>
  <%= @subject.radius %> м
</p>

<p>
  <strong>Адрес:</strong>
  <%= @subject.address %>
</p>

<p>
  <strong>Начинается в:</strong>
  <%= @subject.starts_at %>
</p>

<p>
  <strong>Заканичается в:</strong>
  <%= @subject.ends_at %>
</p>



<div style='width: 348px;'>
  <div id="map" style='width: 348px; height: 348px;'></div>
</div>

<%= link_to 'Список посещаемости', subject_attendances_path(@subject),  style:"margin: 20px 0 20px 0;", class:"btn btn-default" %> <br/>
<%= link_to 'Удалить', @subject, method: :delete, data: { confirm: 'Are you sure?' }  %> |
<%= link_to 'Редактировать', edit_subject_path(@subject) %> |
<%= link_to 'Назад', subjects_path %>

<script type="text/javascript">
function initialize()
    {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var circles = handler.addCircles(
      [{ lat: <%= @subject.latitude %>, lng:  <%= @subject.longitude %>, radius: <%= @subject.radius %>}],
      { strokeColor: '#FF0000'}
    );

    marker = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(marker);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
});
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
