<!-- <p id="notice"><%= notice %></p> -->
<h1>
    <%= @subject.name %>    
</h1>

<p>
  <strong>Долгота:</strong>
  <%= @subject.longitude %>
</p>
<p>
  <strong>Широта:</strong>
  <%= @subject.latitude %>
</p>
<p>
  <strong>Радиус:</strong>
  <%= @subject.radius %>
</p>
<p>
  <strong>Адрес:</strong>
  <%= @subject.address %>
</p>
<%= link_to 'Список посещаемости', subject_attendances_path(@subject), class:"btn btn-default" %> <br/>
<%= link_to 'Удалить', @subject, method: :delete, data: { confirm: 'Are you sure?' }  %> |
<%= link_to 'Редактировать', edit_subject_path(@subject) %> |
<%= link_to 'Назад', subjects_path %>
