<h1>
    <%= @subject.name %>
</h1>
<div class="row">
<div class="col-md-4">
<p>
  <strong>Широта:</strong>
  <%= @subject.latitude %>
</p>

<p>
  <strong>Долгота:</strong>
  <%= @subject.longitude %>
</p>

<p>
  <strong>Радиус:</strong>
  <%= @subject.radius %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @subject.address %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @subject.date %>
</p>

<p>
  <strong>Начинается в:</strong>
  <%= @subject.start_time.strftime("%H:%M")%>
</p>

<p>
  <strong>Заканичается в:</strong>
  <%= @subject.end_time.strftime("%H:%M") %>
</p>


<%= link_to 'Редактировать', edit_subject_path(@subject), class:"btn btn-primary" %> 
<%= link_to 'Удалить', @subject, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %> 
<%= link_to 'Назад', subjects_path, class:"btn btn-primary" %>

</div>
<div class="col-md-3">
<div >
  <div id="map" style='margin-bottom: 20px;width: 700px; height: 348px;'></div>
</div>

<%= link_to image_tag("icons/calendar.png", border: 0), subject_attendances_path(@subject), class: 'btn btn-primary' %>

</div>
</div>


<script>
function initMap(){
    var roomCenter = {lat: <%= @subject.latitude %>, lng: <%= @subject.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: roomCenter
    });
    var marker = new google.maps.Marker({
      position: roomCenter,
      map: map
    });

    var roomCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: {lat: <%= @subject.latitude %>, lng: <%= @subject.longitude %>},
      radius: <%= @subject.radius %>
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj_0GBAd1mmKjDg9M2wHE4YoFF9J2-1hA&callback=initMap" async defer>
</script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
