<h1>
    <%= @subject.name %>
</h1>
<div class="row">
<div class="col-md-4">
<p>
  <strong>Широта:</strong>
  <%= @subject.latitude %>
</p>

<p>
  <strong>Долгота:</strong>
  <%= @subject.longitude %>
</p>

<p>
  <strong>Радиус:</strong>
  <%= @subject.radius %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @subject.address %>
</p>

<!-- <p>
  <strong>Начинается в:</strong>
  <%= @subject.starts_at %>
</p>

<p>
  <strong>Заканичается в:</strong>
  <%= @subject.ends_at %>
</p> -->

<div style='width: 348px;'>
  <div id="map" style='width: 348px; height: 348px;'></div>
</div>
</div>
<div class="col-md-3">
<%= link_to 'Список посещаемости', subject_attendances_path(@subject), class:"btn btn-primary" %> <br/>
</div>
</div>



<%= link_to 'Удалить', @subject, method: :delete, data: { confirm: 'Are you sure?' }  %> |
<%= link_to 'Редактировать', edit_subject_path(@subject) %> |
<%= link_to 'Назад', subjects_path %>

<script>
function initMap(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var circles = handler.addCircles(
      [{ lat: <%= @subject.latitude %>, lng:  <%= @subject.longitude %>, radius: <%= @subject.radius %>}],
      { strokeColor: '#FF0000'}
    );

    marker = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(marker);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj_0GBAd1mmKjDg9M2wHE4YoFF9J2-1hA&callback=initMap" async defer>

</script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
