<!DOCTYPE html>
<html>
  <head>
    <title>Yatut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <nav class="nav-wrp nav-3 dark">
            <div class="container">  
              <div class="nav-header">
                <a class="navbar-brand" href="#"><img src="" alt="Yatut" class=""></a>
                <a class="nav-handle fs-touch-element" data-nav=".nav"><i class="fa fa-bars"></i></a>	
              </div>
              
              <div class="nav vm-item">
                <ul class="nav-links">
                  <li class=""><%= link_to "Предметы", subjects_path %></li>
                </ul>
                <div class="nav-other">          
                          <% if user_signed_in? %>
                              <%= link_to "Мой аккаунт", subjects_path,  class:"btn btn-primary btn-sm" %>
                              <%= link_to('Выйти', destroy_user_session_path, class:"btn btn-primary btn-sm", method: :delete) %>                                      
                          <% else %>
                              <%= link_to "Зарегистрироваться", new_user_registration_path,  class:"btn btn-primary btn-sm" %>
                              <%= link_to "Войти", new_user_session_path, class:"btn btn-primary btn-sm" %>
                          <% end %>
                      </div>
              </div><!-- /.nav --> 
              
            </div><!-- /.container --> 
          </nav>

        <div class="container">
        <p class="notice "><%= notice%></p>
        <p class="alert"><%= alert%></p>  
      <%= yield %>
    </div>
  </body>
</html>
